{% extends "base_template.html" %}
{% block title %}Watchlist{% endblock %}
{% block content %}
    <h1>Watchlist</h1>
    <h3>Collection:</h3>
    {% for item in collection %}
        <h3 id="page_id_{{ item.id }}">{{ item.id }} OK</h3>
    {% endfor %}
    <table>
        <tbody>
            <tr>
                <td>a</td>
                <td>b</td>
                <td>c</td>
            </tr>
        </tbody>
    </table>
    <script src="{{ url_for('static', path='/watchlist.js') }}"></script>
{% endblock %}